<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wokabstar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />    
    
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.example.wokabstar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wokabstar.WorkOnDictActivity"
            android:label="@string/title_activity_work_on_dict" 
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wokabstar.MainActivity" />
        </activity>
        <activity
            android:name="com.example.wokabstar.TrainingActivity"
            android:label="@string/title_activity_training">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wokabstar.MainActivity" />
        </activity>
        <activity
            android:name="com.example.wokabstar.OptionsActivity"
            android:label="@string/title_activity_options">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wokabstar.MainActivity" />
        </activity>
        <activity
            android:name="com.example.wokabstar.SelfCheckActivity"
            android:label="@string/title_activity_self_check">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wokabstar.MainActivity" />
        </activity>
        <activity
            android:name="com.example.wokabstar.DictListActivity"
            android:label="@string/title_activity_work_on_dict" 
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wokabstar.WorkOnDictActivity" />
        </activity>
    </application>

</manifest>
